@import url("https://fonts.googleapis.com/css?family=Lato:400");



.c_btn {
    all: unset;
    cursor: pointer;
    font-size: 24px;
    line-height: 1;
    padding: 14px 24px;
    position: relative;
    transition: color 0.35s ease;
   }

  .c_btn:disabled{
    background: #eee !IMPORTANT;
  }
  .c_btn:hover, .c_btn:focus {
    color: #fff  !important;
  }
  .c_btn:hover .c_btn__text,
  .c_btn:hover .c_btn__arrow, .c_btn:focus .c_btn__text,
  .c_btn:focus .c_btn__arrow {
    transform: translate3d(0, 0, 0);
    color: #fff  !important;
   }
  .c_btn:hover .c_btn__arrow:before, .c_btn:focus .c_btn__arrow:before {
    transform: translate3d(0, -50%, 0) scale3d(1, 1, 1);
 
  }
  .c_btn:hover .c_btn__arrow:after, .c_btn:focus .c_btn__arrow:after {
    transition-delay: 0s;
    transition-duration: 0.25s;
    transform: translate3d(0, -50%, 0) scale3d(1, 0, 1) rotate(-45deg);
  }
  
  .c_btn__text {
    display: inline-block;
    position: relative;
    transition: transform 0.4s cubic-bezier(0.55, 0, 0, 1);
    transform: translate3d(-10%, 0, 0);
    z-index: 1;
  }
  
  .c_btn__arrow {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    transition: transform 0.4s cubic-bezier(0.55, 0, 0, 1);
    transform: translate3d(10%, 0, 0);
    top: 0;
    width: 100%;
  }
  .c_btn__arrow:before, .c_btn__arrow:after {
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
  }
  .c_btn__arrow:before {
    background-color: #000;
    height: 100%;
    transition: transform 0.4s cubic-bezier(0.55, 0, 0, 1);
    transform: translate3d(0, -50%, 0) scale3d(0.2, 0.05, 1);
    transform-origin: right center;
    width: 100%;
    
  }
  .c_btn__arrow:after {
    border: solid black;
    border-width: 0 3px 3px 0;
    padding: 5px;
    transition: transform 0.375s 0.125s cubic-bezier(0.55, 0, 0, 0.95);
    transform: translate3d(0, -50%, 0) scale3d(1, 1, 1) rotate(-45deg);
  }


  .btn_2 {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    }
    .btn_2 span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
       transition: 0.3s;
    }
 
  .btn_3 {
    padding: 5px;
  }
 
  .btn_3::before,
  .btn_3::after {
    background: transparent;
    z-index: 2;
  }
  

  /* 13. hover-border-3 */
.btn_hover_border_3::before,
.btn_hover_border_3::after {
  width: 0%; height: 0%;
  opacity: 0;
  transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
}
.btn_hover_border_3::before {
  top: 0; right: 0;
 
}
.btn_hover_border_3::after {
  bottom: 12px;
  left: 0;
  border-bottom: 3px solid;
  border-color: #333;
}
.btn_hover_border_3:hover::before,
.btn_hover_border_3:hover::after {
  width: 100%; height: 99%;
  opacity: 1;
  transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;   
}
