.track_b{
    background: #623d69;
    border: 1px solid;
    padding: 4px;
    border-radius: 3px;
    border-color: aliceblue;
    color: #fff;
    padding: 7px;
}
.track_b:hover{
    background: #fff;
    color: #333;
}