.m-auto a {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
}


.links{
    padding: 10px 63px;
    background: #fff;
    border-radius: 43px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 46px;
    margin: auto unset;
    margin: auto;
}
.nav_top{
    height: 128px;
    padding: 14px;
    width: 100%;
    background-color: #fff;
}

@media (max-width:968px) {
    .nav_top{
        height: 72px;
        padding: 8px;
        width: 100%;
        background-color: #fff;
        align-items: center;
        display: flex;
        justify-content: space-around;
    
    }
    
}
.ml_auto{
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     padding: 6px;
     margin-left: auto;
     margin-right: auto;
 }
.menu{
    justify-content: space-around;
}
.menu a {
    text-decoration: none;
    text-transform: capitalize;
}
.menu .flex {
    text-transform: capitalize;
    font-size: 17px;
    color: #000;
}
.menu .hidden.lg\:ml-8.lg\:block.lg\:self-stretch{
    margin: 0px  !important;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.dropdownbutton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    color: #000;
    border: 0px;
    font-size: inherit;
    text-transform: capitalize;

}
.dropdownbutton i{
    font-size: 11px;
    margin: 0px 10px;
    border: 1px solid #333;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdownbutton:hover{
    background: none;
    color: #333;
    text-decoration: underline;
}
.men{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0px;
    border: 1px solid #eee;
}
.li{
    color: #333;
}