.m-auto a {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: flex-end;
}


.links{
    padding: 10px 63px;
    background: #fff;
    border-radius: 43px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 46px;
    margin: auto unset;
    margin: auto;
}