.cartitems{
    height: 77%;
    margin-bottom: auto;
    overflow: auto;
    overflow-x: hidden;

     width: 100%;
     background: #eeeeee2b;
     padding-top: 10px;
}

.cartitems::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: #333;
}
.cartitems::-webkit-scrollbar{
    width: 1px;
}
.cartitems .buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button{
    display: flex;
}
.cartitem{
    padding: 11px;
    border-bottom: 1px solid #eee;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 11px;
    width: 99%;
  }
.des{
    font-size: 12px;
    text-wrap:no-wrap
}
.des br{
    display: none !important;
}
.ci{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    color: #311e34;
    text-transform: capitaliz
}

@media (max-width:768px) {
    .CartDrawer{
        height: 90% !important;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
}