.image_holder {
    position: relative;
    height: 919px;
}
.right{
    height: 100%;
    position: sticky;
    top: 0px;
    background: #fff;
    padding: 56px 64px 60px;
}
@media(min-width:992px){
    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     
     }
}
.name{
    font-size: 24px;
    text-transform: capitalize;
    margin: 10px 0px;
}
.price{
    font-size: 23px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.chec{
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;

}
.rating{
    display: flex;
}
.rating p{
    text-decoration: underline;
}
.love{
    width: 10%;
    margin-left: 2px;
}
.buttons{
 margin: 20px 0px;

}
.think{
   
 
    padding: 29px; 
}
.desc img{
    display: none;

}
.avalibility{
    padding: 10px;
    text-align: center;
    font-size: 19px;
}
.previewImage{
    position: absolute;
    z-index: 7;
    background: #333;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 20px;
    color: #fff;
    font-size: 35px;
    font-family: fangsong;
    background: none;
    border: 1px solid;
}
.previewImage:hover{
    background: #fff !important;
    color: #333 !important;
}

.d{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.d div:first-child{
    padding: 20px;
    border-right: 1px solid #ddd;
 }
 @media(max-width:768px){
    .buttons{
        padding: 23px;
    }
    .container{
        padding: 7px !IMPORTANT;
        }
    .right{
        padding: 0px;
        padding-left: 21px  ;
    }
    .d div:first-child{
        padding: 0px;
    }
    .think{
        padding: 23px;
    }
}