.element{
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding: 10px;
    border-bottom: 1px solid #ddd;
    width: 100%;
} 
.element p{
    margin: unset;
}
.userInfo{
    width: 60%;

}
.element button{
    text-decoration: underline;
    font-size-adjust: 12px;
    font-size: 12px;
    padding: 10px;
}
.container{
    border: 1px solid #dddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    align-items: center;
    border-radius: 12px;

}
.wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 87px;
    justify-content: space-between;
 }
.wrapper.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 90% !IMPORTANT;
}
.input{
    width: 61%;
    margin: 0px 10px !IMPORTANT;
}
@media(max-width:768px){
    .wrapper {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        margin-bottom: 10px;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        height:auto
    }
    .wrapper input{
     }
    .input{
        width: 100%;
        margin: 10px   !IMPORTANT;
        padding: 6px !important;
    }
}