.right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cartItem{
    padding: 10px;
}
.image{
    border-radius: 10px;
}
.left{
    background: #f4f4f48c;
     margin: 0px;
    align-self: flex-start;
    justify-self: flex-start;
    margin-bottom: auto;
    padding: 34px;
     display: flex;
}
@media (min-width:992px) {
   
    
}
.thankWrapper{
    
}