

.image_preview{

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 73px;
    right: 20px;
    flex-direction: column;
    justify-content: space-around;
}

.image{
    height: 900px;
    width: 100%;
    position: relative;
    margin: auto;
}
.image img{
    object-fit: cover   !important;
}